.herobgimg{
    background-repeat: no-repeat;
    height: 93vh;
    background-color: rgb(21, 54, 76) 
    ;
    background-size: cover;
}



.footerbgimg{
    height: 100vh;
    background-color: rgb(21, 54, 76) 
    ;
}

